@model List<Movie>
<h2>My Favorite Movies</h2>
<br />
@if(Model.Count < 1)
{
    <h4>You have nothing.</h4>
}
else
{
    foreach (Movie r in Model)
    {
        string url = "http://image.tmdb.org/t/p/w185/" + r.poster_path;

        <div style="border: ridge 8px coral">
            <h4>Title: <b>@r.title</b> </h4>
            <h4>Release Date: @r.release_date</h4>
            <h4>Runtime: @r.runtime minutes</h4>
            <form method="post">
                <a class="text">
                    <button asp-action="RemoveFavorites" asp-route-MovieId="@r.id" class="btn1">Remove Favorite</button>
                </a>
            </form>
            <br />
            <br />
            <div class="container">
                <div class="image">
                    <img src="@url">
                    @*<img width="200px" src="@url">*@
                </div>
                <div class="text">
                    <p>@r.overview</p>
                </div>
            </div>
        </div>

        <br />
        <br />
    }
}
